In [5]:
# Data Frame

In [6]:
# The code was removed by Watson Studio for sharing.

       Date  Weight
0  5/1/2016     142
1  5/2/2016     143
2  5/3/2016     140
3  5/4/2016     141
4  5/5/2016     142

In [9]:
print(3 + 4)

7